body {
  text-align: center;
  background-color: #ece4b7;
  height: 100%;
}

/* top container */
#game-name {
  font-family: 'Permanent Marker', cursive;
  font-size: 5rem;
  color: #131b23;
  padding-top: 10px;
}

.score{
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  color: #131b23;
  display: inline-block;
  margin-left: 25%;
}
.howtoplay{
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  font-weight: lighter;
  font-style: italic;
  color: #131b23;
  display: inline-block;
  margin-right: 20%;
}

/* alert box customization */
.swal-title{
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  color: black;
  font-weight: 400;
}
.swal-text {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.2rem;
  color: black;
  font-weight: 100;
}
.swal-modal{
  width: 50%;
  background-color: #ece4b7;
  border: 4px solid black;
}
.swal-button{
  background-color: #0471A6;
  border: 2px;
  border-color: #0471A6;
  font-size: 20px;
}



/* Container A */
.containerA {
  width: 35%;
  text-align: center;
  display: inline-block;
  position: relative;
  bottom: 75px;
  right: 20px;
}
#level-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  /* margin:  2%; */
  color: #131b23;
  font-weight: lighter;
}




/* container B */
.containerB {
  width: 35%;
  display: inline-block;
  align-items: right;
  position: relative;
  left: 120px;
  top: 40px;
}

.color-btn {
  margin: 15px;
  display: inline-block;
  height: 120px;
  width: 120px;
  border: 10px solid #131b23;
  border-radius: 15%;
}

.game-over {
  background-color: red;
  opacity: 0.3;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
